<% band_name = @band.name ? "for " + @band.name : "" %>
<% select_band = @band.id ? @band : nil %>

<div class="container-centered">
  <form class="new-album-form" action="<%= albums_url %>" method="post">
    <%= auth_token %>

    <div class="form-header">
      Create a new album <%= band_name %>
    </div>
    <div class="form-content">
      <label for="bandname">Band Name</label>
      <select id="bandname" class="" name="album[band_id]">
        <% Band.all.each do |band| %>
          <option name="album[band_id]"

            <%= @band.name == band.name ? "selected" : "" %>
            value="<%= band.id %>">
            <%= band.name %>
          </option>
        <% end %>
      </select>
      <br>
      <label for="name">Album Name</label>
      <input id="name" type="text" name="album[name]" value="">
      <br>
      <label for="">Album Image URL</label>
      <input type="text" name="album[image]" value="">

      <input type="submit" name="" value="Add Album">
    </div>
  </form>

</div>
